[Unit]
Description=Run Subladder Daily

[Timer]
#OnCalendar=weekly
OnCalendar=Mon,Wed,Fri 12:00:00
RandomizedDelaySec=60m

[Install]
WantedBy=timers.target
