[Unit]
Description=Lock screen on suspend for %i
Before=sleep.target suspend.target hibernate.target hybrid-sleep.target

[Service]
User=%i
Environment=DISPLAY=:0
Type=simple
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=DBUS_SESSION_BUS_ADDRESS=/run/user/1000/bus
#ExecStartPre= -/usr/bin/pkill -u %u unison
ExecStart=/home/%i/.config/polybar/scripts/lock.sh
TimeoutSec=infinity
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target suspend.target hibernate.target hybrid-sleep.target
